<!-- $Id: title.tt2 3907 2006-09-25 14:50:16Z serge.aumont $ -->

<!-- begin title.tt2 -->
[% IF  conf.logo_html_definition %]
  [% conf.logo_html_definition %]
[% END %]
<div id="Title">[% robot_title %]<br /></div>
<div id="top"><a class="displayNone" href="#Paint">Skip to Content.</a></div>
<!-- end title.tt2 -->
